/* body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.atm-box {
  background: #ffffff15;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(39, 25, 25, 0.3);
  backdrop-filter: blur(10px);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #fff;
}

button, input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

button {
  background-color: #00b894;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #019875;
  transform: scale(1.03);
}

input {
  background-color: #f1f1f1;
  color: #333;
}

#menu, .action {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

#msg {
  margin-top: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

.success {
  color: #2ecc71;
}
.error {
  color: #e74c3c;
}

.action-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #ffd369;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
} */
